/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  
}

.hidden {
  display: none;
}

html {
  font-family: 'Pacifico', cursive;
}
/******************************************
/* LAYOUT
/*******************************************/
body {
  height: 100vh;
}

#container{
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  height: 50%;
  margin: 10% auto 0 auto;
  border: 1px solid black;
}
.button{
  background-color: #18A558;
  height: 3rem;
  width: 3rem;
  transition: all .4s;
  border-radius: 5%
}

.hover{
  background-color: #2cedf0;
  height: 3rem;
  width: 3rem;
  transition: all .4s;
  border-radius: 50%;
  transform: scale(1.2);
  box-shadow: 2px 2px rgba(63, 62, 62, 0.466);
  border-radius: 50%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
